body{
    background-color: #EAF6F6;
}
hr{
    border-color: rgb(184, 152, 243);
    border-width: 3px;
    border-style: dotted none none;
    height: 0px;
    width: 5%;

}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}
h5{
    color: #66BFBF;
}
table{
    color: #66BFBF;

}

.i7 {
    color: rgb(70, 91, 185);

}
.i8 {
    color: rgb(70, 91, 185);
}
.sem {
    color: rgb(70, 91, 185);
}
